apiVersion: v1
kind: Secret
metadata:
  name: cifs-backup-target-secret
  namespace: longhorn-system
type: Opaque
data:
  # echo -n '...' | base64
  CIFS_USERNAME: ""
  CIFS_PASSWORD: ""
---
apiVersion: v1
kind: Secret
metadata:
  name: longhorn-ui-basic-auth
  namespace: longhorn-system
type: kubernetes.io/basic-auth
stringData:
  username: ""
  password: ""