apiVersion: v1
kind: Secret
metadata:
  name: mosquitto-secrets
stringData:
  # see https://mosquitto.org/documentation/authentication-methods/
  # mosquitto_passwd -c password_file mqtt
  password_file: ""