storage:
  rootDirectory: /var/lib/registry
  dedupe: true
  gc: true
  gcDelay: 1h
  gcInterval: 6h
  retention:
    dryRun: false
    delay: 24h
    policies:
      - repositories:
          - "**"
        deleteReferrers: true
        deleteUntagged: true
        keepTags:
          - mostRecentlyPushedCount: 2
            mostRecentlyPulledCount: 2
            pulledWithin: 168h  # 7d
            pushedWithin: 168h

http:
  address: "0.0.0.0"
  port: "5000"
  compat:
    - docker2s2

log:
  level: debug
  #output: /var/lib/registry/zot.log
  audit: /var/lib/registry/zot-audit.log

extensions:
  metrics:
    enable: true
    prometheus:
      path: /metrics
  search:
    enable: true
  ui:
    enable: true
  sync:
    # sync disabled because platform specific sync not yet supported
    # https://github.com/project-zot/zot/pull/3128
    # images are mirrored explicitly with regsync
    enable: false
