apiVersion: v1
kind: Secret
metadata:
  name: zot-secrets
  namespace: zot
type: Opaque
stringData:
  sync-auth.json: |-
    {
      "docker.io": {
        "username": "user",
        "password": "dockerhub token"
      }
    }    
