apiVersion: v1
kind: Secret
metadata:
  name: kopia-backup-secrets
  namespace: kopia
stringData:
  SERVER_CERT_FINGERPRINT: ***
  # server password for user@host
  KOPIA_SERVER_STEPHAN_NASBOX_PASSWORD: ***
