apiVersion: v1
kind: Secret
metadata:
  name: regsync-secrets
  namespace: zot
type: Opaque
stringData:
  GHCR_TOKEN: "ghcr.io personal access token (read:packages)"
  DOCKERHUB_TOKEN: "dockerhub access token"
