apiVersion: v1
kind: Secret
metadata:
  name: kopia-secrets
  namespace: kopia
stringData:
  KOPIA_PASSWORD: "****"  # repository password
  KOPIA_SERVER_PASSWORD: "****"
  KOPIA_SERVER_CONTROL_PASSWORD: "****"